# creating and Movie recommender using Sentimental analysis

In [9]:
# Assistant
# Import the pandas library for data manipulation and analysis
import pandas as pd 
# Import numpy for numerical operations
import numpy as np

# Import scikit-learn machine learning library
import sklearn 
# Import TruncatedSVD for dimensionality reduction (similar to PCA but can work with sparse matrices). Useful for sentiment analysis 
from sklearn.decomposition import TruncatedSVD

In [36]:
columns = [ 'user_id', 'item_id', 'timestamp']
frame = pd.read_csv('Content-Based-Recommendation-System-/ml-100k/u.data', sep='\t', names=columns)
frame.head()

     user_id  item_id  timestamp
196      242        3  881250949
186      302        3  891717742
22       377        1  878887116
244       51        2  880606923
166      346        1  886397596